{{- $page := .page -}}
{{- $paginator := .paginator -}}

<div class="pagination">
  <div class="pagination__buttons">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="button inline prev">
        &lt; [<span class="button__text">{{ $page.Site.Params.newerPosts | default "Newer posts" }}</span>]
      </a>
    {{ end }}
    {{ if and $paginator.HasPrev $paginator.HasNext }}
      ::
    {{ end }}
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="button inline next">
        [<span class="button__text">{{ $page.Site.Params.olderPosts | default "Older posts" }}</span>] &gt;
      </a>
    {{ end }}
  </div>
</div>
